body{
    background: #fff;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#form{
    margin-top: 100px;
    text-align: center;
}

span{
    display: inline-block;
    padding: 10px;
    margin-bottom: 30px;
}

input{
    width: 40px;
    height: 40px;
    margin-bottom: 30px;
    font-size: 2em;

}

button{
    display: block;
    margin: 10px auto;
    padding: 10px 30px;
    font-size: 1em;
    border-style: none;
    background: steelblue;
    color: #fff;
    cursor: pointer;
}

#resultado{
    margin: 20px;
    text-align: center;
}

.equals{
    display: block;
    background: cyan;
}

.highlight_button{
    display: block;
    background: red;
}